{% extends 'basic.html' %}

{% block title%} {{book.book_name}} - My Book Store{% endblock %}

<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">

{% block css %}

body{
   margin-left: 0%
}
p{
  font-size: 20px;
}

.page-footer{
    background-color: green;
  }
  .footer-copyright{
    background-color: darkgreen;
}


.row .btn{

}

h5{
  font-size: 20px;
color: Green;
}

.stars{
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: center;
	margin-left: -17%;
	margin-top: -3%;

  }

  .star{
  margin-left: 1%;
	list-style: none;
	font-size: 1rem;
	padding-left:  6px;
	color:  red;
  }

.orange{
  color: orange;
}

.yellow{
  color: yellow;
}

h4, h6{
  color: red;
}

.a-row{
  background: radial-gradient(#0A99AF,#057586);
  text-align: center;
  color: white;
  font-size: 33px;
}
.col-md-3
{
display: inline-block;
margin-left:-4px;

}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 240px;
margin-top: 3%;
height: 320px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: -45px;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color: black;
}
.carousel-control-prev,
.carousel-control-next{
    background-color: black;
top: auto;
bottom: auto;
margin-top: 15%;
width: 2%;
border-radius: 20%;
margin-left: 2%;
margin-right: 2%;
padding-top: 2px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}

{% endblock %}


{% block body %}
<br>
<div class="a-row zg-banner zg-text-center-align">

  <div class="a-row a-spacing-top-small">
    <span class="zg-banner-text">
    Bestsellers<br>
    </span>
    <span class="zg-banner-subtext">
      <i>Our most popular products based on sales.  Updated hourly.</i>
    </span>
  </div>
</div>
<br><br>
<div class="container my-3 mx-5" style="font-family: Sans-sherif; margin-right: 5%;">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <div class="img-magnifier-container">
         <a href="/app/{{book.image}}" class="fancybox" data-fancybox="gallary1"><img src="/app/{{book.image}}" width="320px" height="385px">
         </a></div>
    </div>
        <!-- <div class="row">
            <button class="btn btn-primary mx-3" style="margin-top: 8%;height: 80%;width: 40%; margin-left: 5%;
">Buy Now</button>
            <button class="btn btn-primary"  style="margin-top: 8%;height: 80%;width: 40%; margin-left: 5%;
">Add To Cart</button>
        </div> -->
    </div>
        <div class="col-md-8">
        <h2 style="font-weight: 900">{{book.book_name}} (Paperback)</h2>
            <h5>{{book.subcategory}}</h5>
        <h3><b>Rs.{{book.price}} </b></h3>
            <br>
            <div class="star-rating">
  <ul class="stars">
    <h5>Review</h5>
    <li class="star"> <i class="fa fa-star"></i> </li>
    <li class="star"> <i class="fa fa-star"></i> </li>
    <li class="star"> <i class="fa fa-star"></i> </li>
    <li class="star"> <i class="fa fa-star"></i> </li>
    <li class="star"> <i class="fa fa-star"></i> </li>
  </ul>
</div>
        <h4 style="margin-top: -12%">Discount: 50% </h4>
        <h6>Harry Up!!  Stock is limited. </h6>
        <br>
           <strong><h4  style="color: black;font-weight: 700">Description: </h4></strong>
        <p style="font-size: 19px; font-weight: 100">{{book.desc}}</p>
        <br>

    </div>
    
    </div>
</div>

<div class="container my-3 mx-5.5">
    {% for booked, range, nSlides in allbooks %}
    	{% if book.category ==  booked.0.category %}
    <h5 class="my-3 mx-2">Recommended Books: {{booked.0.category}} </h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in booked %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 17rem;">
                            <img src='/app/{{i.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{i.id}}">{{i.book_name|slice:"0:20"}}...</h5>
                                <h6 class="card-title" >Price : <span id="pricepr{{i.id}}">Rs. {{i.price}}</span></h6>

                                <a href="/app/buy/"><button id="pr{{i.id}}" class="btn btn-primary cart">View More</button></a>
                                <a href="/app/books/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">BookView</button></a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
     {% endif %}
    {% endfor %}
</div>

<br>
<br>
<br>

<footer class="page-footer font-small teal pt-4">
   <footer class="page-footer font-small cyan darken-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a href="https://twitter.com">
              <i ><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" style="width: 4%; margin-top: 1%; margin-left: 26%;"> </i>
    </a>
            <a href="https://instagram.com">
              <i> <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="width: 4%; margin-top: 1%; margin-left: 3%;"></i>
            </a>
            <a href="https://github.com">
                <i> <img src="https://user-images.githubusercontent.com/6385983/34427109-5772d042-ec0c-11e7-896d-7e9096b92856.png" style="width: 4%; margin-top: 1%; margin-left: 3%; border-radius: 8px; border-top:  1px;"></i>
              </a>
              <a href="https://youtube.com">
              <i ><img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-picture-13.png" style="width: 6%; margin-top: 1%; margin-left: 2%"> </i>
            </a>
            <a href="https://facebook.com">
              <i ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-JpfC4gKgHEHQeUuv4LrEpy5In1LnWkwgwMTxE_SIGHeG4EaPw4juf0w6nn5SDQj5mw&usqp=CAU" style="width: 4%; margin-top: 1%; margin-left: 2%; border-radius: 8px;"> </i>
            </a>
            <a href="https://google.com">
              <i ><img src="https://ipullrank.com/wp-content/uploads/2020/07/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png" style="width: 4%; margin-top: 1%; margin-left: 2%; border-radius: 50%"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
 <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://google.com/"> Books.com</a>
    </div>






{% endblock %}




{% block js %}
<script>
// // star rating

	const stars = document.querySelectorAll('.star');

for(x=0; x<stars.length; x++){
  stars[x].starValue =(x+1);

['click', 'mouseover','mouseout'].forEach(function(e){
  stars[x].addEventListener(e, showRating);
})

}

function showRating(e){

  let type = e.type;
  let starValue = this.starValue;


  stars. forEach(function(elem,ind){
     if(type === 'click'){
       if (ind< starValue){
         elem.classList.add("orange");
       }
       else{
         elem.classList.remove("orange");
       }
     }
  })
}


</script>
{% endblock %}
