{% extends 'basic.html' %}
{% block title%} Checkout - My Book Store{% endblock %}
{% block css %}

.page-footer{
  background-color: green;
}
.footer-copyright{
  background-color:  darkgreen;
}
.container{
  font-family: sans-serif;
}

{% endblock %}


{% block body %}
<div class="container">
    <div class="col my-4">
        <h2> Checkout Here - Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>

             <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Your Cart TotaPricel is... <b>Rs. <span id="totalprice"></span></b>. Fill the given details & place your order.</li>
  </ol>
</nav>

        </div>
    </div>
    <div class="col my-4">
        <h2>Enter Email & Other Details:</h2>
        <form action="/app/checkout/" method="post">
            {% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="state" name="state"  placeholder="Enter State">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone">
            </div>
            <div class="form-group">
            <label for="inputZip">Amount...</label><b>Rs. <span id="totalprices"></span></b>
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>
<br>
<br><br>

<footer class="page-footer font-small teal pt-4">
   <footer class="page-footer font-small cyan darken-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a href="https://twitter.com">
              <i ><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" style="width: 4%; margin-top: 1%; margin-left: 26%;"> </i>
    </a>
            <a href="https://instagram.com">
              <i> <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="width: 4%; margin-top: 1%; margin-left: 3%;"></i>
            </a>
            <a href="https://github.com">
                <i> <img src="https://user-images.githubusercontent.com/6385983/34427109-5772d042-ec0c-11e7-896d-7e9096b92856.png" style="width: 4%; margin-top: 1%; margin-left: 3%; border-radius: 8px; border-top:  1px;"></i>
              </a>
              <a href="https://youtube.com">
              <i ><img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-picture-13.png" style="width: 6%; margin-top: 1%; margin-left: 2%"> </i>
            </a>
            <a href="https://facebook.com">
              <i ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-JpfC4gKgHEHQeUuv4LrEpy5In1LnWkwgwMTxE_SIGHeG4EaPw4juf0w6nn5SDQj5mw&usqp=CAU" style="width: 4%; margin-top: 1%; margin-left: 2%; border-radius: 8px;"> </i>
            </a>
            <a href="https://google.com">
              <i ><img src="https://ipullrank.com/wp-content/uploads/2020/07/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png" style="width: 4%; margin-top: 1%; margin-left: 2%; border-radius: 50%"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://google.com/"> Books.com</a>
    </div>

{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null){
      var cart= { };
}
else{
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum= 0;
var totalprice =0;
if ($.isEmptyObject(cart)){
    mystr = '<p> Your Cart is empty </p>'
    $('#items').append(mystr);
}else{
    for (item in cart) {

         let name = cart[item][1];
         let quantity = cart[item][0];
         let price = cart[item][2];

        sum = sum + quantity;
        totalprice = totalprice + quantity * price
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${quantity}</span>
                </li>`
       $('#items ').append(mystr);
    }
}

// document.getElementById('cart').innerHTML = sum;
var  v =document.getElementById('totalprice');
v.innerHTML = totalprice;
var  a =document.getElementById('totalprices');
a.innerHTML = totalprice;
$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for ordering with us. Your order is {{id}}. Use it to track your order using our order tracker');
localStorage.clear();
document.location = "/app";
{% endif %}
$('#amount')=val($('#totalprice').html());




</script>
{% endblock %}
